# Python
__pycache__/
*.py[cod]

# AI Model files (too large for GitHub)
*.pt
*.pth

# Face photos (privacy!)
known_faces/

# Attendance logs
attendance_logs/

# Excel reports
*.xlsx

# VS Code
.vscode/